@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body {

    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    background-color: #f0f0f0;
    overflow-x: hidden;
}
.container {
  width:90%;
  margin:auto;
}

.btn-org{
    background: #ff5252 !important;
    color: #fff !important;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px !important;
}
.btn-org:hover{
    background: #000000 !important;
    color: #fff !important;
}



.link:hover {
    color: #ff5252;
}

.MuiBadge-badge{
    background-color: #ff5252 !important;
}

.mySwiper{
    overflow: inherit !important;
    }

    .productSlider .swiper-wrapper{
        padding:15px;
        margin-left: -15px;;
    }

.MuiCheckbox-root{
    padding:6px !important;
}

.ItemViewActions button.active svg{
    color: #ff5252 !important;
}

.Mui-selected.MuiPaginationItem-page{
    background-color: #ff5252 !important;
    color: #fff !important;
}